* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}
.img {
  max-width: 100%;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  gap: 590px;
}

.nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 44px;
}

.nav-right ul {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  font-weight: 700;
  color: rgb(137, 135, 161);
}

.nav-right ul li:first-child {
  color: black;
}

.nav-right ul li:last-child {
  color: black;
  font-weight: 400;
}
/* banner css */

.banner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.banner-left {
  align-content: center;
  gap: 13px;
}
.banner-left p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.noto-serif-simple {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.banner-left h2 {
  color: rgb(233, 90, 8);
  font-weight: bold;
  font-size: 3rem;
}

/*pant shart*/

.plant-top h2 {
  color: rgb(233, 90, 8);
  font-weight: bold;
  font-size: 3rem;
}
.plant-top p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.plant-top {
  gap: 50px;
  max-width: 570px;
  margin: auto;
}
/*plant end */

.plant-end {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}
.card {
  border: 1px dotted lavender;
  height: 320px;
  width: 270px;
}

.card img {
  height: 320px;
  width: 270px;
}
.btn {
  background-color: rgb(233, 90, 8);
  margin: 30px 20px;
  color: white;
  width: 0 50px;
  padding: 10px 50px;
}

.plant-name {
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 400;
}

.plant-number {
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 700;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
/* nav bar media qu */

@media screen and (max-width: 576px) {
  .nav-right > ul {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner .banner-left {
    margin-bottom: 70px;
  }
  .plant-end {
    grid-template-columns: repeat(2, 1fr);
  }

  .plant-top {
    gap: 20px;
    max-width: 100%;
  }
}
